name: Auto Label PRs

on:
  pull_request:
    types: [opened]

permissions:
  contents: read
  pull-requests: write   # <- important, allows workflow to add labels

jobs:
  add-label:
    runs-on: ubuntu-latest

    steps:
      - name: Add label to PR
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: needs review
